<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Miller's Market</title>
    <meta charset="UTF-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="css/modified_bootstrap.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="images/favicon.ico"
    />
  </head>
  <body>
    <header>
      <div class="bg-primary">
        <nav>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="col-lg-8 col-12 pt-3">
                <a href="/"
                  ><img
                    class="clickable"
                    src="images/home.svg"
                    alt="home icon"
                /></a>
              </div>
              <div
                class="col-lg-4 col-12 text-end py-3 px-1 justify-space-between"
              >
                <a href="/newTrade" class="btn btn-secondary btn-sm mx-1"
                  >Start Trading!</a>
                <button class="btn btn-primary btn-sm mx-1">Login</button>
                <button class="btn btn-primary btn-sm mx-1">Sign up</button>
              </div>
            </div>
          </div>
        </nav>
        <hr class="bg-light mx-2 mt-0 mb-1" />
        <nav>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="col-1 py-2 px-1">
                <a href="/trades" class="btn btn-secondary">Trades</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>