<%- include('./partials/header.ejs')%>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="p-5 m-5 h-100">
              <h1>
                About
                <span class="font-raleway-heavy text-primary"
                  >Miller's Market!</span
                >
              </h1>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-12 d-flex justify-content-center pt-2 pb-1 px-3"
          >
            <img
              class="cow-img w-75"
              src="images/cow_cartoon.png"
              alt="cow cartoon"
            />
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs')%>