<%- include('./partials/header.ejs')%>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="p-5 m-5 h-100">
              <h1>
                Welcome to
                <span class="font-raleway-heavy text-primary"
                  >Miller's Market!</span
                >
              </h1>
              <p>
                Where people go to find, trade, or give away farm animals and
                livestock.
              </p>
              <p>Check out our new section on specialty livestock!</p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-12 d-flex justify-content-center pt-2 pb-1 px-3"
          >
            <img
              class="cow-img w-75"
              src="images/cow_cartoon.png"
              alt="cow cartoon"
            />
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs')%>