<%- include('./partials/header.ejs')%>
      <div class="container p-3">
        <form id="trade_form" class="card card-secondary p-3" action="/new" method="post">
          <div class="row mb-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
              <h3 class="text-yellow font-raleway-heavy">New Trade</h3>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-1"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="category"
              >Category</label
            >
            <div class="col-lg-8 col-sm-12">
              <select 
                form="trade_form" 
                class="form-select" 
                name="category"
                id="category">
                <option value="Livestock">Livestock</option>
                <option value="Raw meat and Eggs">Raw meat and Eggs</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputTitle"
              >Title</label
            >
            <div class="col-lg-8 col-sm-12">
              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Title"
                id="inputTitle"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputHeader"
              >Header</label
            >
            <div class="col-lg-8 col-sm-12">
              <input
                class="form-control"
                type="text"
                name="header"
                placeholder="Header"
                id="inputHeader"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputDetails"
              >Details</label
            >
            <div class="col-lg-8 col-sm-12">
              <textarea
                class="form-control h-120px"
                name="details"
                placeholder="Description"
                id="inputDetails"
              ></textarea>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-2 col-md-0"></div>
            <div class="col-lg-9 col-md-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <%- include('./partials/footer.ejs')%>